/* AddTaskPage.css */

.add-task-card {
  background-color: #ece4e4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

.add-task-form {
  display: flex;
  flex-direction: column;
}

.add-task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.add-task-heading {
  color: #242791;
  font-family: 'Fantasy', sans-serif;
  margin-bottom: 20px;
}

.add-task-label {
  margin-bottom: 20px;
}

.add-task-input {
  padding: 8px;
  margin-bottom: 20px;
}

.add-task-button {
  background-color: #21458d;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* AddTaskPage.css */

.tasks-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tasks-table th, .tasks-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tasks-table th {
  background-color: #3513ae;
  color: white;
}
