

.add-task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color:white;
  font-size: 20px;
}

.add-task-heading {
  color:#47ee22;
  font-family: 'fantasy', sans-serif;
  margin-bottom: 20px;
  
}

.add-task-label {
  margin-bottom: 20px;
}

.add-task-input {
  padding: 8px;
  margin-bottom: 20px;
  color: beige;
  font-size: medium;
}

.add-task-button, .back-to-home-button {
  background-color: #1f5b07;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: bolder;
}

.back-to-home-button {
  font-size: large;
  background-color: #047904; /* Green color for the back button */
}
