
body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Grey background color */
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.add-task-heading {
  color: #47ee22; /* Blue color */
  margin-top: 90px;
}

.button-container {
  display: flex;
  gap: 20px; /* Add some space between buttons */
  margin-top: 10px;
}

.add-task-button {
  background-color: #58c813; /* Blue color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-task-button:hover {
  background-color: #104b8f; /* Darker blue on hover */
}

.clear-all-button {
  background-color: red; /* Red color */
  color: white; /* White text color */
  padding: 15px 30px; /* Increase width and height */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-all-button:hover {
  background-color: darkred; /* Darker red on hover */
}
