/* HomePage.css */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.add-task-heading {
  color: #f5883e; /* Blue color */
  margin-top: 90px;
}

.add-task-button {
  background-color: #cf7b14; /* Blue color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.add-task-button:hover {
  background-color: #0a2e57; /* Darker blue on hover */
}
